input, select{
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: 25px;
}


:checked{
    transition-duration: 500ms;  
    width: 20px;
    height: 20px;
}


#urgente:checked{
    border: 1px solid black;      
    background-color: red;
    
}
#medio:checked{
    border: 1px solid black;       
    background-color: yellow;
    
}
#baixo:checked{
    border: 1px solid black;      
    background-color: green;
}

#inpNumero{
    margin-left: 0.3rem;
}

.grupoInput span{
    font-size: 16px;
}
.grupo7 , .grupo8,.grupo9{
    margin-right: 2.7rem;
}

#Quantidade{
    margin-right: 0.3rem;
}

.camposPrincipais input , .camposPrincipais select{
    width: 100%;
    min-width: 15rem;
    max-width: 20rem;
}

#idDepartamento,#idFuncionario{
    max-width: 5rem;
    min-width: 0;
    width: 100%;
}

#radioPrioridade input{
    margin-right: 0.4rem;
    margin-left: 0.2rem;
    width: 100%;
    max-width: 20rem;
    min-width: 20px;
}

.BtnInserirItens{
    background-color: grey;
    width: 33%;
    height: 1.5rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;
    margin: 10px;
    margin-top: 0;
    color: white;
    font-size: 16px;
}
#btnGravar{
    margin-bottom: 1rem;
    width: 33%;
    height: 1.5rem;
    border-radius: 1rem;
    border: white;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    cursor: pointer;
    background-color: grey;
    color: white;
}

.BtnGravarItens{
    justify-content: center;
    display: flex;
}


.chkPrioridade{
    appearance: none;
    width: 20px;
    height: 20px;     
    border: 1px solid #000000;  
    border-radius: 50%;
    
}

.chkPrioridadeDesabilitado{
    appearance: none;
    width: 20px;
    height: 20px;     
    border: 2px solid #000000;  
    border-radius: 50%;
    
}