*{
    margin:0;
    padding: 0;
}

/* body{
    width: 100vw;
} */
.main{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;    
    align-items: center;   
    justify-content: center;
}
.header{
    max-width: 51.5rem;
    width: 100%;
    height: 5vh;
    background-color: rgba(120, 44, 243, 0.392);   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    
}
.header span{
    color: black;
}
.titulo{
    margin: 1rem;
    
}
.conteudo{
    max-width: 51.1rem;
    width: 100%;
    border-color: rgba(120, 44, 243, 0.392);;
    border-style: solid;
    flex-wrap: wrap;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    gap: 1.5rem;
}
.camposPrincipais{
    display: flex;
    flex-direction: column;
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;    
    padding: 1rem;
    flex-wrap: wrap;
    gap: 0.3rem;
}
.linhasCampos{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.0rem;
}
.grupoInput{
    display: flex;
    flex-direction: column;
    
}
.grupoPrioridade{
    display: flex;   
}

.grupoCategoria{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAdd{    
    width: 30px;
    height: 30px;
   
}
.btnAdd:hover{
    cursor: pointer; 
    scale: 1.5;    
    transition-duration: 1000ms;    

}

.grupoMotivo{
    display: flex;
    justify-content: center;
    align-items: center;        

}

/* ITENS */
.camposItens{
    display: flex;
    flex-direction: column;
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;    
    width: 100%;
    
}

.linhaAdicionarItens{
    display: flex;
    padding: 1.5rem;
    gap: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grupoProduto, .grupoProdutoDescricao, .grupoEstoque{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linhaAdicionarItens span{
    font-size: 16px;
}

.linhaAdicionarItens input{
    width: 100%;
    max-width: 8rem;
}

.linhasCampos input{
    margin: 0 auto;
}

.imgGrupoEstoque {
    display: flex;
    flex-direction: row;

}

.imgGrupoEstoque img{
    padding-left: 0.3rem;
    width: 30px;
    height: 25px;
}

.grupoBtnInserirItens{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.linhaTotal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
.linhaTotal span{
    padding: 0.3rem;
}

.linhaTotal input{
    display: flex;
    font-size: 20px;
    width: 15%;
}
.grupoStatusEstoque span{
    display: flex;
    
}
.camposPrincipaisLinha1{
    display: flex;
    justify-content: space-around;
}

.camposPrincipaisLinha2{
    display: flex;
    justify-content: space-around;
}


.radioPrioridade{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}


.radioPrioridadeDesabilitado{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #E0E0E0;
    color:#ff0000;
    flex-wrap: wrap;
}

.radioPrioridadeDesabilitado input{
    margin-right: 0.5rem;
}


#legenda{
    background: rgba(255, 255, 0, 0.381);
    border:2px solid  yellow;
    display: flex;
    opacity: 0;
    font-size: 14px;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    max-width: 14rem;
    height: 10rem;
    right: 26%;
    bottom: 37%;
    transition: opacity 200ms ease;
    cursor: default;
    border-radius: 0.5rem;
}

#legenda div{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}

#legenda img{
    width: 30px;
    height: 20px;
}

@media (max-width: 500px) { 

    .linhasCampos{
    justify-content: start;
        gap: 1.5rem;
}

    #legenda{
        width: 100%;
        max-width: 10rem;
        right: 0;
        bottom: 0;
        border-radius: 0.5rem;
        align-items: center;
    }
    #legenda div{
        margin: 0 auto;
    }
}
